
* {box-sizing: border-box;}

.img-magnifier-container {
  text-align: center;
  position:relative;
}

.img-magnifier-container img {
  display: inline-block; /* Ensures it responds properly to text-align */
}



.img-magnifier-glass {
  position: absolute;
  border: 1px solid #f00;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 350px;
  height: 225px;
}


